<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bowling Club</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>


<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="~/bowling_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Bowling Logo">
        Bowling Club
    </a>

</nav>

@*rendered body*@
<body>
    <div class="row m-1 p-1">
        <div id="types" class="col-1">
            <vc:types></vc:types>
        </div>
        <div class="col-11">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

</body>